@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: "Poppins", sans-serif;
$font-secondary: "Outfit", sans-serif;
$font-tertiary: "Work Sans", sans-serif;

$color-primary: #3442b5;
$color-primary-dark: #3019b2;

$color-secondary: #271c47;
$color-secondary-dark: #161615;

$color-yellow: #f7ca11;

$color-white: #ffffff;
$color-black: #000000;

$text-primary: #3f3f40;
$text-secondary: #4e4e4e;
$text-tertiary: #3b3b3b;
$text-general: #9f9f9f;
$text-light: #808080;

$border-primary: #bdbdbd;
$border-secondary: #dedede;
$border-light: #f0f0f0;

$transition-default: all 0.3s ease;
